.main {
  background-color: var(--ifm-navbar-link-color);
  background-image: url('/img/image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-grow: 1;
  padding: 3rem;
}

.linksContainer {
  display: inline-flex;
  flex-direction: column;

  a {
    color: var(--ifm-navbar-link-color);

    [data-theme='dark'] & {
      filter: invert(100%);
    }
  }
}

footer {
  padding: 10px;
}
